<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/css.css' %}">
  <head>
    <meta charset="utf-8">
    <title>Base Page</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'App:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'App:Log_in' %} ">Login</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'App:logout' %} ">Log Out</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'App:Log_in' %} ">Link</a>
          </li>

          {% endif %}



  </ul>
</nav>

{% block body_block %}

{% endblock %}

  </body>
</html>
